extends ../components/base/layout

block variables
  - const title = "Global X"
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "index.html"

block main
  main
    +intro()
    +type-of-service()
    +services()
    +feedback()

block modals
  +modal({
    title: "Оставьте заявку на&nbsp;подключение",
    description: "После отправки формы с&nbsp;вами свяжется наш менеджер и&nbsp;согласует время и&nbsp;место подключения"
  },
  "modal--request")(data-modal="request")
    +request()
