extends ../components/base/layout

block variables
  - const title = "Global X | Статья"
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "single-article.html"

block main
  main
    +single-article({
      date: "19.01.2021",
      title: "Изменения условий на&nbsp;Тарифные планы",
      content: {
        text1: "Уважаемые абоненты!",
        text2: "С&nbsp;01.02.2021г. прекращают свое действие тарифные планы &laquo;Бро_30&raquo;, &laquo;IPTV Интернет&nbsp;50&raquo;, &laquo;IPTV Выгодный 100&raquo; . Абонентам предложены более скоростные тарифы.",
        list: [
          "С&nbsp;01.02.2021 года тарифный план &laquo;Бро_30&raquo;, скорость доступа в&nbsp;сети Интернет 30&nbsp;Мбит/с, абонентская плата в&nbsp;размере 450 рублей в&nbsp;месяц, прекращает действие. Абонентам с&nbsp;вышеуказанным тарифным планом устанавливается тариф &laquo;Интернет + IPTVпортал_100&raquo;, скорость доступа в&nbsp;сети Интернет 100&nbsp;Мбит/с, доступ к&nbsp;просмотру Телевидения в&nbsp;приложении IPTVPORTAL . Абонентская плата в&nbsp;размере 600 рублей в&nbsp;месяц.",
          "С&nbsp;01.02.2021 года тарифный план &laquo;IPTV Интернет&nbsp;50&raquo;, скорость доступа в&nbsp;сети Интернет 50&nbsp;Мбит/с с&nbsp;услугой&nbsp;IP телевидение, абонентская плата в&nbsp;размере 499 рублей в&nbsp;месяц, прекращает действие. Абонентам с&nbsp;вышеуказанным тарифным планом устанавливается тариф &laquo;IPTV Включай и&nbsp;смотри_100&raquo;, скорость доступа в&nbsp;сети Интернет 100&nbsp;Мбит/с с&nbsp;услугой&nbsp;IP телевидение, абонентская плата в&nbsp;размере 650 рублей в&nbsp;месяц, без применения условий по&nbsp;маркетинговой акции.",
          "С&nbsp;01.02.2021 года тарифный план &laquo;IPTV Выгодный 100&raquo;, скорость доступа в&nbsp;сети Интернет 100&nbsp;Мбит/с с&nbsp;услугой&nbsp;IP телевидение, абонентская плата в&nbsp;размере 499 рублей в&nbsp;месяц, прекращает действие. Абонентам с&nbsp;вышеуказанным тарифным планом устанавливается тариф &laquo;IPTV Включай и&nbsp;смотри_100&raquo;, скорость доступа в&nbsp;сети Интернет 100&nbsp;Мбит/с с&nbsp;услугой&nbsp;IP телевидение, абонентская плата в&nbsp;размере 650 рублей в&nbsp;месяц, без применения условий по&nbsp;маркетинговой акции."
        ]
      }
    })


block modals
