extends ../components/base/layout

block variables
  - const title = "Global X | Вакансия"
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "vacancy.html"

block main
  main
    +single-article({
      title: "Инженер&nbsp;&mdash; монтажник связи",
      description: "Официальное трудоустройство. (ЗП&nbsp;от&nbsp;85&nbsp;000&nbsp;руб.&nbsp;на&nbsp;руки)",
      content: {
        title1: "Обязанности:",
        list1: [
          "СМР/ПНР оборудования беспроводного доступа (РРЛ/БШПД/Wi-Fi), включая кабельные трассы",
          "СМР/ПНР оборудования видеонаблюдения/СКУД",
          "СМР/ПНР структурированных кабельных сетей (СКС)",
          "СМР слаботочки/электрики"
        ],
        text1: "Работа на&nbsp;выезде в&nbsp;составе бригады. Есть командировки в&nbsp;пределах&nbsp;ЛО или СЗФО, реже по&nbsp;России.",
        text2: "После оформления в&nbsp;штат (после испытательного срока) полное обеспечение: набор необходимого индивидуального инструмента, спец.одежда, высотное снаряжение (если применимо), служебный автотранспорт на&nbsp;бригаду.",
        text3: "Обучаем за&nbsp;счет работодателя: работам на&nbsp;высоте, электробезопасности.",
        text4: "Есть возможность развития по&nbsp;должности и&nbsp;заработной плате.",
        text5: "Есть ежеквартальные премии по&nbsp;факту выполнения работ и&nbsp;достижения результата.",
        title2: "Требования (желательно):",
        list2: [
          "Средне-специальное образование в&nbsp;одной из&nbsp;указанных областей. Высшее образование будет преимуществом.",
          "Опыт работы в&nbsp;одной из&nbsp;указанных областей от&nbsp;1&nbsp;года. Если Вы&nbsp;универсальны и&nbsp;имеете навык во&nbsp;всех, указанных обязанностях&nbsp;&mdash; это несомненное Ваше преимущество",
          "Если Вы&nbsp;только что окончили ВУЗ или средне-специальное заведение по&nbsp;одной из&nbsp;указанных специальностей или по&nbsp;специальности, связанной с&nbsp;телекоммуникациями, у&nbsp;Вас нет опыта работы, но&nbsp;Вы хотите работать, зарабатывать и&nbsp;приобретать навыки, звоните, не&nbsp;стесняйтесь."
        ],
        title3: "Условия:",
        list3: [
          "Испытательный срок 2-3 месяца (зависит от&nbsp;Вашего опыта)",
          "Работа в&nbsp;соответствии с&nbsp;ТК&nbsp;РФ",
          "Обеспечим спец.одеждой, инструментом, всем необходимым для качественной работы"
        ]
      }
    })


block modals
