extends ../components/base/layout

block variables
  - const title = "Global X | Видеонаблюдение - Дворовые"
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "video-surveillance-personal.html"

block main
  main
    +intro({
      title: "Установите персональные камеры видеонаблюдения по&nbsp;доступной цене в&nbsp;Ноябрьске",
      button: "true",
      image: {
        src: "intro-personal",
        format: "webp",
        width: "750",
        height: "470",
        alt: "intro"
      }
    }).intro--inner-page.intro--video-surveillance-personal
    +questions([
      {
        title: "Что такое персональное видеонаблюдение?",
        content: [
          "Облачное видеонаблюдение&nbsp;&mdash; это современная замена традиционному локальному видеорегистратору, лишенная его недостатков.",
          "Для организации полнофункционального видеонаблюдения достаточно установить IP-камеры и&nbsp;подключить их&nbsp;к&nbsp;сервису облачного видеонаблюдения компании Север-Связь (Ноябрьск)."
        ]
      },
      {
        title: "Почему стоит подключаться?",
        content: [
          "Облачное видеонаблюдение&nbsp;&mdash; это современная замена традиционному локальному видеорегистратору, лишенная его недостатков.",
          "Для организации полнофункционального видеонаблюдения достаточно установить IP-камеры и&nbsp;подключить их&nbsp;к&nbsp;сервису облачного видеонаблюдения компании Север-Связь (Ноябрьск)."
        ]
      },
      {
        title: "Сколько стоит подключиться?",
        content: [
          "Облачное видеонаблюдение&nbsp;&mdash; это современная замена традиционному локальному видеорегистратору, лишенная его недостатков.",
          "Для организации полнофункционального видеонаблюдения достаточно установить IP-камеры и&nbsp;подключить их&nbsp;к&nbsp;сервису облачного видеонаблюдения компании Север-Связь (Ноябрьск)."
        ]
      },
      {
        title: "Какая абонентская плата?",
        content: [
          "Облачное видеонаблюдение&nbsp;&mdash; это современная замена традиционному локальному видеорегистратору, лишенная его недостатков.",
          "Для организации полнофункционального видеонаблюдения достаточно установить IP-камеры и&nbsp;подключить их&nbsp;к&nbsp;сервису облачного видеонаблюдения компании Север-Связь (Ноябрьск)."
        ]
      }
    ])
    +order-form()
    +camera-records()
    +available-equipment()
    +feedback()

block modals
