extends ../components/base/layout

block variables
  - const title = "Global X | Видеонаблюдение - Дворовые"
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "video-surveillance-yard.html"

block main
  main
    +intro({
      title: "Установите дворовую систему видеонаблюдения по&nbsp;выгодной цене в&nbsp;Ноябрьске",
      button: "true",
      image: {
        src: "intro-video-surveillance-yard",
        format: "webp",
        width: "820",
        height: "465",
        alt: "intro"
      }
    }).intro--inner-page.intro--video-surveillance-yard
    +questions([
      {
        title: "Что такое &laquo;Видеодвор&raquo;?",
        content: [
          "Для нашей общей безопасности и&nbsp;безопасности наших близких, компания Север-Связь за&nbsp;собственные средства устанавливает камеры видеонаблюдения во&nbsp;дворе Вашего дома и&nbsp;вокруг дома.",
          "Для Вашего удобства&nbsp;Вы можете наблюдать за&nbsp;этими камерами с&nbsp;экрана телевизора и&nbsp;через Интернет с&nbsp;любого места земли через смартфон или планшет. Просмотр осуществляется в&nbsp;режиме реального времени, так&nbsp;же можно посмотреть запись в&nbsp;течении суток.",
          "Наблюдайте за&nbsp;Вашими детьми, наблюдайте за&nbsp;Вашим имуществом.",
          "Услуга &laquo;Видеодвор&raquo; предоставляется абонентам Север-Связь&nbsp;&mdash; Бесплатно! Нам Важен Ваш Комфорт!"
        ]
      },
      {
        title: "Как смотреть на&nbsp;экране телевизора?",
        content: [
          "Для нашей общей безопасности и&nbsp;безопасности наших близких, компания Север-Связь за&nbsp;собственные средства устанавливает камеры видеонаблюдения во&nbsp;дворе Вашего дома и&nbsp;вокруг дома.",
          "Для Вашего удобства&nbsp;Вы можете наблюдать за&nbsp;этими камерами с&nbsp;экрана телевизора и&nbsp;через Интернет с&nbsp;любого места земли через смартфон или планшет. Просмотр осуществляется в&nbsp;режиме реального времени, так&nbsp;же можно посмотреть запись в&nbsp;течении суток.",
          "Наблюдайте за&nbsp;Вашими детьми, наблюдайте за&nbsp;Вашим имуществом.",
          "Услуга &laquo;Видеодвор&raquo; предоставляется абонентам Север-Связь&nbsp;&mdash; Бесплатно! Нам Важен Ваш Комфорт!"
        ]
      },
      {
        title: "Как смотреть и&nbsp;получать запись с&nbsp;камеры через Интернет?",
        content: [
          "Для нашей общей безопасности и&nbsp;безопасности наших близких, компания Север-Связь за&nbsp;собственные средства устанавливает камеры видеонаблюдения во&nbsp;дворе Вашего дома и&nbsp;вокруг дома.",
          "Для Вашего удобства&nbsp;Вы можете наблюдать за&nbsp;этими камерами с&nbsp;экрана телевизора и&nbsp;через Интернет с&nbsp;любого места земли через смартфон или планшет. Просмотр осуществляется в&nbsp;режиме реального времени, так&nbsp;же можно посмотреть запись в&nbsp;течении суток.",
          "Наблюдайте за&nbsp;Вашими детьми, наблюдайте за&nbsp;Вашим имуществом.",
          "Услуга &laquo;Видеодвор&raquo; предоставляется абонентам Север-Связь&nbsp;&mdash; Бесплатно! Нам Важен Ваш Комфорт!"
        ]
      },
      {
        title: "Как можно посмотреть за&nbsp;местом которое не&nbsp;попало в&nbsp;объективы?",
        content: [
          "Для нашей общей безопасности и&nbsp;безопасности наших близких, компания Север-Связь за&nbsp;собственные средства устанавливает камеры видеонаблюдения во&nbsp;дворе Вашего дома и&nbsp;вокруг дома.",
          "Для Вашего удобства&nbsp;Вы можете наблюдать за&nbsp;этими камерами с&nbsp;экрана телевизора и&nbsp;через Интернет с&nbsp;любого места земли через смартфон или планшет. Просмотр осуществляется в&nbsp;режиме реального времени, так&nbsp;же можно посмотреть запись в&nbsp;течении суток.",
          "Наблюдайте за&nbsp;Вашими детьми, наблюдайте за&nbsp;Вашим имуществом.",
          "Услуга &laquo;Видеодвор&raquo; предоставляется абонентам Север-Связь&nbsp;&mdash; Бесплатно! Нам Важен Ваш Комфорт!"
        ]
      },
      {
        title: "Когда мой дом подключат к&nbsp;системе &laquo;Видеодвор&raquo;?",
        content: [
          "Для нашей общей безопасности и&nbsp;безопасности наших близких, компания Север-Связь за&nbsp;собственные средства устанавливает камеры видеонаблюдения во&nbsp;дворе Вашего дома и&nbsp;вокруг дома.",
          "Для Вашего удобства&nbsp;Вы можете наблюдать за&nbsp;этими камерами с&nbsp;экрана телевизора и&nbsp;через Интернет с&nbsp;любого места земли через смартфон или планшет. Просмотр осуществляется в&nbsp;режиме реального времени, так&nbsp;же можно посмотреть запись в&nbsp;течении суток.",
          "Наблюдайте за&nbsp;Вашими детьми, наблюдайте за&nbsp;Вашим имуществом.",
          "Услуга &laquo;Видеодвор&raquo; предоставляется абонентам Север-Связь&nbsp;&mdash; Бесплатно! Нам Важен Ваш Комфорт!"
        ]
      },
      {
        title: "Как просмотреть запись с&nbsp;камеры за&nbsp;месяц назад?",
        content: [
          "Для нашей общей безопасности и&nbsp;безопасности наших близких, компания Север-Связь за&nbsp;собственные средства устанавливает камеры видеонаблюдения во&nbsp;дворе Вашего дома и&nbsp;вокруг дома.",
          "Для Вашего удобства&nbsp;Вы можете наблюдать за&nbsp;этими камерами с&nbsp;экрана телевизора и&nbsp;через Интернет с&nbsp;любого места земли через смартфон или планшет. Просмотр осуществляется в&nbsp;режиме реального времени, так&nbsp;же можно посмотреть запись в&nbsp;течении суток.",
          "Наблюдайте за&nbsp;Вашими детьми, наблюдайте за&nbsp;Вашим имуществом.",
          "Услуга &laquo;Видеодвор&raquo; предоставляется абонентам Север-Связь&nbsp;&mdash; Бесплатно! Нам Важен Ваш Комфорт!"
        ]
      },
      {
        title: "Сколько стоит?",
        content: [
          "Для нашей общей безопасности и&nbsp;безопасности наших близких, компания Север-Связь за&nbsp;собственные средства устанавливает камеры видеонаблюдения во&nbsp;дворе Вашего дома и&nbsp;вокруг дома.",
          "Для Вашего удобства&nbsp;Вы можете наблюдать за&nbsp;этими камерами с&nbsp;экрана телевизора и&nbsp;через Интернет с&nbsp;любого места земли через смартфон или планшет. Просмотр осуществляется в&nbsp;режиме реального времени, так&nbsp;же можно посмотреть запись в&nbsp;течении суток.",
          "Наблюдайте за&nbsp;Вашими детьми, наблюдайте за&nbsp;Вашим имуществом.",
          "Услуга &laquo;Видеодвор&raquo; предоставляется абонентам Север-Связь&nbsp;&mdash; Бесплатно! Нам Важен Ваш Комфорт!"
        ]
      }
    ])
    +order-form()
    +camera-records()
    +available-equipment()
    +feedback()

block modals
