mixin articles(data)
  section.articles
    .container
      .articles__wrapper
        h1.title.title--t1!=data.title
        ul.list-reset.articles__list
          each item in data.list
            li.articles__item
              +article-card(item)
