mixin article-card(data)
  .article-card
    .article-card__info
      if (data.date)
        span.article-card__date!=data.date
      h2.article-card__title!=data.title
      p.article-card__description!=data.description
    a.article-card__link(href="#") Узнать подробнее
      +icon("icon-arrow-right", 40, 40)
