mixin business-instruments()
  section.business-instruments
    .container
      .business-instruments__wrapper
        .business-instruments__content
          h2.business-instruments__title Заказать удобные инструменты для вашего бизнеса
          p.business-instruments__description После отправки формы с&nbsp;вами свяжется наш менеджер и&nbsp;согласует время и&nbsp;место подключения
          p.business-instruments__label Введите контактные данные
          .business-instruments__form
            form(method="get")
              .business-instruments__form-wrapper
                +custom-input({
                  label: "Ваше имя:",
                  type: "text",
                  name: "name"
                }).custom-input--underline.business-instruments__input
                +custom-input({
                  label: "Ваш телефон:",
                  type: "tel",
                  name: "phone"
                }).custom-input--underline.business-instruments__input
              +btn({type: "submit", text: "Отправить"}).business-instruments__button
              +agreement()
          .business-instruments__image.business-instruments__image--first
            +img("content/business-instruments", "darts-1", "webp", 250, 250, "darts")
          .business-instruments__image.business-instruments__image--second
            +img("content/business-instruments", "darts-2", "webp", 100, 100, "darts")
          .business-instruments__image.business-instruments__image--third
            +img("content/business-instruments", "money", "webp", 100, 110, "money")
