mixin camera-card(data)
  .camera-card
    .camera-card__image-wrapper
      +img("content/available-service", data.image.src, data.image.format, data.image.width, data.image.height, data.image.alt)
    h3.camera-card__title!=data.title
    p.camera-card__description!=data.description
    .camera-card__button-wrapper
      +price({price: data.price})
      +btn({href: "#", text: "Узнать подробнее"}).camera-card__button
