mixin go-to-personal-account()
  section.go-to-personal-account
    .container
      .go-to-personal-account__wrapper
        .go-to-personal-account__block
          .go-to-personal-account__info
            h2.go-to-personal-account__title Перейти в&nbsp;личный кабинет клиента
            p.go-to-personal-account__description Для оплаты и&nbsp;управления услугами
          +btn({href: "#", text: "Перейти", icon: {name: "icon-arrow-right-white", width: "21", height: "13"}}).go-to-personal-account__button
