mixin price(data)
  .price&attributes(attributes)
    if(data.label)
      p.price__label!=data.label
    p.price__price!=data.price
      span.price__units
        span.price__unit руб
        if (data.unit)
          span.price__unit!=data.unit
        else
          span.price__unit мес
