mixin product-description()
  section.product-description
    .container
      .product-description__wrapper
        h2.title.title--h2 Описание
        .product-description__content
          p Современная HDR-приставка, имеющая эргономичный и&nbsp;компактный корпус, универсальный пульт, звук 5.1, изображение высокой четкости (FullHD). Быстрый интерфейс клиентских устройств (нативное приложение на&nbsp;СТБ без использования WEB-портала для устройств TVIP). Множество удобных опций:
          ul
            li Запись программы;
            li Перемотка;
            li Постановка на&nbsp;паузу;
            li Медиаплеер;
            li YouTube Kids;
            li Online кинотеатр.
