mixin request(data)
  .request
    .request__form
      form(method="post")
        p.request__label Введите ваши контактные данные
        .request__form-wrapper
          +custom-input({
            label: "Ваше имя:",
            type: "text",
            name: "name"
          }).custom-input--underline.request__input
          +custom-input({
            label: "Ваш телефон:",
            type: "tel",
            name: "phone"
          }).custom-input--underline.request__input
          input(type="hidden" name="service-title" data-service-title)
          input(type="hidden" name="service-price" data-service-price)
          input(type="hidden" name="static-ip" data-static-ip)
        .request__button-wrapper
          +btn({type: "submit", text: "Отправить"}).request__button
          //- if (data.price)
          //-   +price({price: data.price, unit: "год"}).request__price
        +agreement().request__agreement
