mixin service-card(data)
  a.service-card(href=data.button.href data-card data-card-link)
    .service-card__wrapper
      .service-card__info-wrapper
        h3.service-card__title(data-card-title)!=data.title
        p.service-card__description!=data.description
        ul.list-reset.service-card__list
          each item in data.info
            li.service-card__item
              p.service-card__text
                +icon(item.icon.name, item.icon.width, item.icon.height)
                !=item.text
        .service-card__button-wrapper
          +btn({type: "button", text: data.button.text})().service-card__button
          if (data.price)
            +price({price: data.price, dataCard: "true"})
      .service-card__image-wrapper
        +img("content/service", data.image.src, data.image.format, data.image.width, data.image.height, data.image.alt)
