mixin steps()
  section.steps
    .container
      .steps__wrapper
        h2.title.title--t1 Как подключить домашний интернет
        ul.list-reset.steps__list
          li.steps__item
            .steps__top
              +icon("icon-number-one", 18, 38).steps__number
              +icon("icon-arrow", 323, 16).steps__arrow
            h3.steps__title Оставьте свои контакты
            p.steps__description Чтобы обсудить по&nbsp;телефону все детали: скорость, стоимость, оборудование. Или заполните подробную заявку самостоятельно
          li.steps__item
            .steps__top
              +icon("icon-number-two", 28, 38).steps__number
              +icon("icon-arrow", 323, 16).steps__arrow
            h3.steps__title Дождитесь звонка
            p.steps__description Мы&nbsp;свяжемся с&nbsp;вами с&nbsp;9:00 до&nbsp;22:00&nbsp;в будни и&nbsp;подтвердим возможность подключения, ответим на&nbsp;все вопросы и&nbsp;назначим время для визита специалиста по&nbsp;монтажу
          li.steps__item
            .steps__top
              +icon("icon-number-three", 30, 38).steps__number
              +icon("icon-arrow", 323, 16).steps__arrow
            h3.steps__title Встретьте монтажника
            p.steps__description В&nbsp;удобное вам время он&nbsp;привезет договор, подключит интернет и&nbsp;настроит оборудование, если вы&nbsp;заказали Wi-Fi роутер или ТВ-приставку
          li.steps__item.steps__item--background
            p.steps__description.steps__description--bold Наслаждайтесь высокоскоростным интернетом дома
