mixin tariff-constructor-total()
  .tariff-constructor-total
    .tariff-constructor-total__info
      h3.tariff-constructor-total__title Ваша заявка
      p.tariff-constructor-total__description После отправки формы с&nbsp;вами свяжется наш менеджер и&nbsp;согласует время и&nbsp;место подключения
      dl.tariff-constructor-total__list(data-tariff-constructor-options)
        .tariff-constructor-total__item(data-tariff-constructor-option="internet")
          dt.tariff-constructor-total__term <span data-tariff-constructor-option-text></span>&nbsp;Мбит/с
          dd.tariff-constructor-total__price <span data-tariff-constructor-option-price>550</span> руб
        .tariff-constructor-total__item(data-tariff-constructor-option="static-ip")
          dt.tariff-constructor-total__term Статический IP-адрес
          dd.tariff-constructor-total__price 350 руб
        .tariff-constructor-total__item(data-tariff-constructor-option="video")
          dt.tariff-constructor-total__term Видеонаблюдение
          dd.tariff-constructor-total__price 350 руб
    h3.tariff-constructor-total__title Введите контактные данные
    .tariff-constructor-total__form
      .tariff-constructor-total__form-wrapper
        +custom-input({
          label: "Ваше имя:",
          type: "text",
          name: "name",
          required: "true"
        }).custom-input--underline.tariff-constructor-total__input
        +custom-input({
          label: "Ваш телефон:",
          type: "tel",
          name: "phone",
          required: "true"
        })(data-validate-type="phone").custom-input--underline.tariff-constructor-total__input
        input(type="hidden" name="tariff-name" data-service-name)
        input(type="hidden" name="tariff-speed" data-service-speed)
        input(type="hidden" name="tariff-total-price" data-service-total-price)
      +price({label: "Итого:", price: "550", dataTariffConstructor: "true"})
      +btn({type: "submit", text: "Подключить"}).tariff-constructor-total__button
      +agreement()
