mixin tariff-advantages()
  section.tariff-advantages
    .container
      .tariff-advantages__wrapper
        h2.title.title--t2 У нас есть тарифный план для каждого
        ul.list-reset.tariff-advantages__list
          li.tariff-advantages__item
            p.tariff-advantages__text Для тех, кто работает из&nbsp;дома. Чтобы общаться по&nbsp;видеосвязи, быстро отправлять файлы
          li.tariff-advantages__item
            p.tariff-advantages__text Для геймеров. Чтобы играть по&nbsp;сети с&nbsp;низким пингом
          li.tariff-advantages__item
            p.tariff-advantages__text Для киноманов. Выбирайте из&nbsp;каналов в&nbsp;тарифе или подключайте тематические пакеты
          li.tariff-advantages__item
            p.tariff-advantages__text Для развлечений. Отдыхайте с&nbsp;мощным интернетом, кино, играми и&nbsp;книгами
