.about {
  background-color: $color-white-smoke;

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 64px 0;

    @include vp-1023 {
      padding: 40px 0;
    }

    @include vp-767 {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }

  &__info-wrapper {
    max-width: 763px;
    margin-right: 50px;

    @include vp-1023 {
      margin-right: 0;
    }
  }

  &__description {
    margin: 0 0 30px;

    font-weight: 400;
    font-size: 18px;
    line-height: 27px;

    color: $color-default-black;

    @include vp-1023 {
      max-width: 681px;

      font-size: 16px;
      line-height: 24px;
    }
  }

  &__list {
    @include vp-1023 {
      max-width: 392px;
    }

    @include vp-767 {
      margin-bottom: 30px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    img {
      flex-shrink: 0;

      width: 24px;
      height: 24px;
      margin-right: 12px;
    }
  }

  &__text {
    margin: 0;

    font-weight: 400;
    font-size: 18px;
    line-height: 27px;

    color: $color-default-black;

    @include vp-1023 {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__image-wrapper {
    flex-shrink: 0;

    width: 410px;
    height: 320px;

    @include vp-1023 {
      position: absolute;

      right: 0;
      bottom: 0;

      width: 309px;
      height: 237px;
    }

    @include vp-767 {
      position: relative;

      width: 390px;
      height: 299px;
    }

    @include vp-479 {
      width: 100%;
    }

    img {
      width: 410px;
      height: 320px;

      object-fit: contain;

      @include vp-1023 {
        width: 309px;
        height: 237px;
      }

      @include vp-767 {
        width: 390px;
        height: 299px;
      }

      @include vp-479 {
        width: 100%;
      }
    }
  }
}
