.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: 13px 20px;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  border: none;
  border-radius: 8px;
  background-color: $color-red-orange;
  color: $color-default-white;

  cursor: pointer;
  user-select: none;

  transition: background-color $trans-default, color $trans-default;

  outline: none;

  &--white {
    border: 1px solid $color-dolphin;
    background-color: $color-default-white;
    color: $color-black-russian-2;
  }

  @include hover-focus {
    background-color: $color-flamingo;
    color: rgba($color-default-white, 0.9)
  }

  @include active {
    background-color: $color-free-speech-red;
    color: rgba($color-default-white, 0.9)
  }

  &.disabled {
    background-color: $color-silver;
    color: rgba($color-default-white, 0.9)
  }
}
