.custom-select {
  position: relative;
  width: 100%;
  max-width: 300px;

  &.is-open {
    .custom-select__icon {
      transform: rotate(180deg);
    }

    .custom-select__button {
      border-radius: 10px 10px 0 0;
    }

    .custom-select__list {
      visibility: visible;
      opacity: 1;
    }
  }

  &__label {
    display: block;
    margin: 0 0 10px;

    font-weight: 0;
    font-size: 16px;
    line-height: 24px;
  }

  &__button {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 12px 20px;

    border-radius: 10px;
    background-color: $color-white-smoke;

    cursor: pointer;
    outline: none;
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: $color-nero-2;
  }

  &__icon {
    flex-shrink: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;
    margin-left: 10px;

    transition: transform $trans-default;

    svg {
      flex-shrink: 0;

      width: 30px;
      height: 30px;

      transition: transform $trans-default;
      transform: rotate(90deg);
    }
  }

  &__list {
    z-index: 1;
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    max-height: 102px;
    margin: 0;
    padding: 20px 0;
    overflow-y: auto;

    list-style: none;

    background-color: $color-white-smoke;

    transition: visibility $trans-default, opacity $trans-default;
    transform: translateY(100%);

    visibility: hidden;
    opacity: 0;
  }

  &__item {
    padding: 12px 20px;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    border-radius: 10px;
    color: $color-default-black;

    transition: box-shadow $trans-default;

    cursor: pointer;
    outline: none;

    @include hover-focus {
      box-shadow: 0 4px 10px 0 rgba($color-default-black, 0.12);
    }
  }

  select {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    border: none;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
  }
}
