.features {
  &__wrapper {
    padding: 64px 0;

    @include vp-1023 {
      padding: 0 0 64px;
    }

    @include vp-767 {
      padding: 0 0 60px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 40px;
    row-gap: 40px;

    @include vp-1023 {
      column-gap: 30px;
      row-gap: 30px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 330px;
    min-height: 196px;

    @include vp-1023 {
      max-width: 334px;
    }

    @include vp-767 {
      max-width: unset;
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 130px;
    height: 130px;
    margin-bottom: 24px;

    border-radius: 50%;
    background-color: $color-white-smoke-2;

    @include vp-1023 {
      width: 100px;
      height: 100px;
      margin-bottom: 20px;
    }

    svg {
      flex-shrink: 0;

      width: 64px;
      height: 64px;

      color: $color-red-orange;

      @include vp-1023 {
        width: 60px;
        height: 60px;
      }
    }
  }

  &__text {
    display: block;

    font-weight: 400;
    font-size: 64px;
    line-height: 83px;

    color: $color-red-orange;

    @include vp-1023 {
      font-size: 60px;
      line-height: 78px;
    }
  }

  &__description {
    max-width: 285px;
    margin: 0;

    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;

    color: $color-default-black;
  }
}
