.header {
  z-index: 11;
  position: relative;

  top: 0;
  left: 0;

  width: 100%;

  background-color: $color-default-white;

  &.is-open {
    .main-nav__toggle {
      span {
        &:nth-child(1) {
          top: 10px;
          transform: rotate(-45deg) translate(0, -50%);
        }

        &:nth-child(2) {
          transform: translateX(100%);
          opacity: 0;
        }

        &:nth-child(3) {
          top: 8px;
          transform: rotate(45deg) translate(0, 50%);
        }
      }
    }

    .main-nav__menu {
      transform: translateX(0);
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    margin: 0 auto;
    padding: 51px 0 10px;

    @include vp-1279 {
      padding: 10px 0;
    }

    @include vp-1023 {
      max-width: unset;
    }
  }

  &__logo {
    position: relative;
    display: block;

    width: 199px;
    height: 43px;
    margin-right: 40px;

    @include vp-1439 {
      margin-right: 20px;
    }

    /* @include vp-1279 {
      margin-right: 0;
    } */

    @include vp-1023 {
      z-index: 11;
    }

    svg {
      flex-shrink: 0;

      width: 199px;
      height: 43px;
    }
  }
}
