.main-nav {
  width: 100%;
  max-width: 1144px;

  @include vp-1439 {
    width: auto;
    max-width: unset;
  }

  @include vp-1279 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width: 215px;
  }

  @include vp-767 {
    max-width: 118px;
  }

  @include vp-479 {
    width: auto;
    max-width: unset;
  }

  &__user {
    display: none;
    margin-right: 40px;

    transition: opacity $trans-default;

    @include vp-1279 {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @include vp-424 {
      margin-right: 20px;
    }

    @include hover-focus {
      opacity: 0.8;
    }

    svg {
      flex-shrink: 0;

      width: 23px;
      height: 22px;
    }
  }

  &__toggle {
    z-index: 11;
    position: relative;
    display: none;

    width: 24px;
    height: 20px;

    cursor: pointer;
    user-select: none;

    transition: opacity $trans-default;

    @include vp-1279 {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    span {
      display: block;
      position: absolute;

      left: 0;

      width: 100%;
      height: 3px;

      background-color: $color-red-orange;

      transition: transform $trans-default, opacity $trans-default;

      transform: translateY(-50%);

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2) {
        top: 50%;
      }

      &:nth-child(3) {
        bottom: 0;
      }
    }

    @include hover-focus {
      opacity: 0.8;
    }
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include vp-1279 {
      z-index: 10;
      position: fixed;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      top: 63px;
      right: 0;
      bottom: 0;
      left: 0;

      width: 100%;
      padding: 10px 40px 70px;

      background-color: $color-default-white;

      transition: transform $trans-default;
      transform: translateX(100%);
    }

    @include vp-479 {
      padding: 10px 20px 70px;
    }

    @include vp-374 {
      padding: 10px 10px 70px;
    }
  }

  &__list {
    display: flex;

    margin: 0;
    padding: 0;

    list-style: none;

    @include vp-1279 {
      flex-direction: column;
      width: 100%;
      margin: 0 0 40px;
    }
  }

  &__item {
    position: relative;
    margin-right: 36px;

    @include vp-1439 {
      margin-right: 20px;
    }

    @include vp-1279 {
      margin-right: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &::after {
      content: none;
      position: absolute;

      bottom: 0;
      left: 0;

      width: 100%;
      height: 1px;

      background-color: rgba($color-default-black, 0.5);

      @include vp-1279 {
        content: "";
      }
    }
  }

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: $color-nero;

    transition: color $trans-default;
    transform: translate3d(0, 0, 0);

    @include vp-1279 {
      padding: 10px 0;
    }

    svg {
      display: none;

      flex-shrink: 0;

      width: 24px;
      height: 24px;
      margin-left: 20px;

      transition: transform $trans-default;

      @include vp-1279 {
        display: block;
      }
    }

    @include hover-focus {
      color: $color-red-orange;
    }
  }

  &__phone {
    display: block;
    margin-left: 40px;

    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    color: $color-red-orange;

    transition: opacity $trans-default;

    @include vp-1439 {
      margin-left: 20px;
    }

    @include vp-1279 {
      margin-left: 0;

      font-size: 18px;
      line-height: 27px;
    }

    @include hover-focus {
      opacity: 0.8;
    }
  }
}
