.main-nav {
  width: 100%;
  max-width: 1144px;
  /* overflow: hidden; */

  @include vp-1439 {
    width: auto;
    max-width: unset;
  }

  @include vp-1279 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width: 215px;
  }

  @include vp-767 {
    max-width: 118px;
  }

  @include vp-479 {
    width: auto;
    max-width: unset;
  }

  &__user {
    display: none;
    margin-right: 40px;

    transition: opacity $trans-default;

    @include vp-1279 {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @include vp-424 {
      margin-right: 20px;
    }

    @include hover-focus {
      opacity: 0.8;
    }

    img {
      flex-shrink: 0;

      width: 23px;
      height: 22px;

      @include vp-479 {
        width: 20px;
        height: 20px;
      }
    }
  }

  &__toggle {
    z-index: 11;
    position: relative;
    display: none;

    width: 24px;
    height: 20px;

    cursor: pointer;
    user-select: none;

    transition: opacity $trans-default;

    @include vp-1279 {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    span {
      display: block;
      position: absolute;

      left: 0;

      width: 100%;
      height: 3px;

      background-color: $color-red-orange;

      transition: transform $trans-default, opacity $trans-default, visibility $trans-default;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2) {
        top: 50%;

        transform: translateY(-50%);
      }

      &:nth-child(3) {
        bottom: 0;
      }
    }

    @include hover-focus {
      opacity: 0.8;
    }
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include vp-1279 {
      z-index: 10;
      position: fixed;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      top: 63px;
      right: 0;
      bottom: 0;
      left: 0;

      width: 100%;
      padding: 10px 40px 70px;

      background-color: $color-default-white;

      transition: transform $trans-default;
      transform: translateX(100%);
    }

    @include vp-479 {
      top: 48px;

      padding: 10px 20px 70px;
    }
  }

  &__list {
    display: flex;

    margin: 0;
    padding: 0;

    list-style: none;

    @include vp-1279 {
      flex-direction: column;
      width: 100%;
      margin: 0 0 40px;
    }
  }

  &__item {
    position: relative;
    margin-right: 36px;

    @include vp-1439 {
      margin-right: 20px;
    }

    @include vp-1279 {
      margin-right: 0;
    }

    &.menu-item-has-children {
      @media (min-width: 1279px) {
        @include focus-within {
          .main-nav__dropdown-list::before {
            content: "";
          }

          .main-nav__dropdown-list {
            display: block;
          }
        }

        @include hover-focus {
          .main-nav__dropdown-list::before {
            content: "";
          }

          .main-nav__dropdown-list {
            display: block;
          }
        }
      }
    }

    &.is-active {
      .main-nav__link {
        img {
          transform: rotate(90deg);
        }
      }

      .main-nav__dropdown-list {
        max-height: 100%;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: $color-nero;

    transition: color $trans-default;
    transform: translate3d(0, 0, 0);

    @include vp-1279 {
      padding: 10px 0;
    }

    &::after {
      content: none;
      position: absolute;

      bottom: 0;
      left: 0;

      width: 100%;
      height: 1px;

      background-color: rgba($color-default-black, 0.5);

      @include vp-1279 {
        content: "";
      }
    }

    img {
      display: none;

      flex-shrink: 0;

      width: 24px;
      height: 24px;
      margin-left: 20px;

      transition: transform $trans-default;

      @include vp-1279 {
        display: block;
      }
    }

    @include hover-focus {
      color: $color-red-orange;
    }
  }

  &__dropdown-list {
    z-index: 10;
    position: absolute;
    display: none;
    top: calc(100% + 19px);
    left: 0;

    width: 225px;
    padding: 26px 28px 20px;

    background-color: $color-default-white;

    @include vp-1279 {
      position: relative;
      display: block;

      top: 0;
      left: 0;

      width: 100%;
      max-height: 0;
      padding: 0;
      overflow: hidden;

      background-color: $color-transparent;

      transition: max-height $trans-default;
    }

    &::before {
      content: none;
      position: absolute;
      top: -19px;
      left: 0;

      width: 100%;
      height: 19px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;

      width: calc(100% - 28px * 2);
      height: 1px;

      background-color: $color-whisper;

      transform: translateX(-50%);

      @include vp-1279 {
        content: none;
      }
    }
  }

  &__dropdown-item {
    position: relative;

    margin-bottom: 10px;
    padding-bottom: 10px;

    @include vp-1279 {
      margin-bottom: 0;
      padding-bottom: 0;
    }

    &::after {
      content: "";
      position: absolute;

      bottom: 0;
      left: 0;

      width: 100%;
      height: 1px;

      background-color: $color-whisper;
    }

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;

      &::after {
        content: none;
      }
    }
  }

  &__dropdown-link {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: $color-nero;

    transition: color $trans-default;
    transform: translate3d(0, 0, 0);

    @include vp-1279 {
      padding: 15px 0;
    }

    @include hover-focus {
      color: $color-red-orange;
    }
  }

  &__phone {
    display: block;
    margin-left: 40px;

    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    color: $color-red-orange;

    transition: opacity $trans-default;

    @include vp-1439 {
      margin-left: 20px;
    }

    @include vp-1279 {
      margin-left: 0;

      font-size: 18px;
      line-height: 27px;
    }

    @include hover-focus {
      opacity: 0.8;
    }
  }
}
