.page-not-found {
  &__wrapper {
    display: flex;
    align-items: center;
    max-width: 1150px;
    margin: 0 auto;
    padding: 90px 0;

    @include vp-1023 {
      flex-direction: column;
      align-items: flex-start;
      max-width: unset;
      margin: 0;
      padding: 64px 0;
    }

    @include vp-767 {
      padding: 60px 0;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    margin: 0;

    font-weight: 400;
    font-size: 300px;
    line-height: 390px;

    color: $color-default-black;

    @include vp-1023 {
      margin: 0 0 40px;

      font-size: 200px;
      line-height: 160px;
    }

    @include vp-767 {
      font-size: 120px;
      line-height: 156px;
    }
  }

  &__image-wrapper {
    display: block;
    width: 169px;
    height: 227px;

    @include vp-1023 {
      width: 105px;
      height: 141px;
    }

    @include vp-767 {
      width: 94px;
      height: 126px;
    }

    img {
      width: 169px;
      height: 227px;

      object-fit: cover;

      @include vp-1023 {
        width: 105px;
        height: 141px;
      }

      @include vp-767 {
        width: 94px;
        height: 126px;
      }
    }
  }

  &__info {
    margin-left: 40px;

    @include vp-1023 {
      margin-left: 0;
    }
  }

  &__subtitle {
    margin: 0 0 10px;

    font-weight: 400;
    font-size: 50px;
    line-height: 65px;

    color: $color-default-black;

    @include vp-1023 {
      font-size: 38px;
      line-height: 49px;
    }

    @include vp-767 {
      font-size: 36px;
      line-height: 47px;
    }
  }

  &__description {
    margin: 0 0 20px;

    font-weight: 400;
    font-size: 16px;
    line-height: 21px;

    color: $color-default-black;

    @include vp-1023 {
      margin: 0 0 40px;
    }
  }

  &__button {
    width: 100%;
    max-width: 293px;
  }
}
