.price {
  display: flex;
  align-items: baseline;

  &__price {
    display: flex;
    align-items: center;
    margin: 0;

    font-weight: 700;
    font-size: 32px;
    line-height: 24px;

    color: $color-nero;

    @include vp-767 {
      margin: 0;

      font-size: 30px;
    }
  }

  &__label {
    margin: 0 14px 0 0;

    font-weight: 500;
    font-size: 24px;
    line-height: 24px;

    color: $color-default-black;
  }

  &__units {
    display: flex;
    flex-direction: column;
    margin-left: 6px;
  }

  &__unit {
    position: relative;
    display: block;
    margin-bottom: 8px;

    font-weight: 400;
    font-size: 16px;
    line-height: 21px;

    color: $color-nero;

    @include vp-767 {
      font-size: 15px;
      line-height: 20px;
    }

    &:first-child {
      &::after {
        content: "";
        position: absolute;

        bottom: 0;
        left: 0;

        width: 100%;
        height: 1px;

        background-color: $color-nero;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
