.request {
  &__form {
    width: 100%;
  }

  &__label {
    margin: 0 0 32px;

    font-weight: 700;
    font-size: 20px;
    line-height: 26px;

    color: $color-default-black;
  }

  &__form-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    max-width: 508px;
    margin-bottom: 48px;

    @include vp-767 {
      column-gap: 20px;
    }
  }

  &__input {
    width: 100%;

    .custom-input__label {
      margin: 0 0 30px;

      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
    }

    input:-webkit-autofill {
      box-shadow: inset 0 0 0 1000px $color-default-white;

      -webkit-text-fill-color: rgba($color-default-black, 0.5);
    }
  }

  &__button-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    @include vp-1023 {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 20px;
    }
  }

  &__button {
    width: 100%;
    max-width: 248px;

    @include vp-1023 {
      max-width: 300px;
      margin: 10px 0 0;
    }

    @include vp-767 {
      max-width: 260px;
    }
  }

  &__price {
    margin-left: 16px;

    @include vp-1023 {
      order: -1;

      margin-bottom: 10px;
      margin-left: 0;
    }
  }

  &__agreement {
    max-width: 500px;
  }
}
