mixin header(headerMods, currentUrl)
  -
    const navLinks = [
      {
        href: "#",
        text: "Интернет",
      },
      {
        href: "#",
        text: "Телевидение"
      },
      {
        href: "#",
        text: "Выгодно",
        dropdown: [
          {
            href: "#",
            text: "Интернет+TV"
          },
          {
            href: "#",
            text: "Конструктор тарифа"
          }
        ]
      },
      {
        href: "#",
        text: "Видеонаблюдение"
      },
      {
        href: "#",
        text: "Оборудование"
      },
      {
        href: "#",
        text: "Информация",
        dropdown: [
          {
            href: "#",
            text: "Новости"
          },
          {
            href: "#",
            text: "Вакансии"
          }
        ]
      },
      {
        href: "#",
        text: "Контакты"
      }
    ]

  header.header(class=headerMods data-header data-media="(min-width: 1279px)")
    .container
      .header__wrapper
        a.header__logo(href="index.html", aria-label="Переход на главную")
          +icon("logo", 199, 43)
        nav.main-nav
          a.main-nav__user(href="#" aria-label="Личный кабинет")
            +icon("icon-user", 23, 22)
          button(type="button" aria-label="Переключатель отображения меню", aria-pressed="false" data-toggle-menu).btn-reset.main-nav__toggle
            span
            span
            span
          .main-nav__menu
            +info-bar()
            ul.list-reset.main-nav__list(data-accordion="parent" data-destroy="(max-width: 1279px)")
              each item in navLinks
                li.main-nav__item(class={"main-nav__item--dropdown" : item.dropdown} data-accordion=(item.dropdown ? "element" : false))
                  a.main-nav__link(href=item.href data-accordion=(item.dropdown ? "button" : false))!=item.text
                    +icon("icon-chevron-right", 24, 24)
                  if(item.dropdown)
                    .main-nav__dropdown(data-accordion="content")
                      ul.list-reset.main-nav__dropdown-list
                        each subitem in item.dropdown
                          li.main-nav__dropdown-item
                            a.main-nav__dropdown-link(href=subitem.href)!=subitem.text
            a.main-nav__phone(href="tel:+73496458000") +7 (3496) 45-80-00
      +widget()
