// Vendor
// ---------------------------------

@import "vendor/normalize";
@import "vendor/swiper/navigation";
@import "vendor/swiper/pagination";
@import "vendor/swiper/swiper";

// Global
// ---------------------------------

@import "variables";
@import "mixins";
@import "global/fonts";
@import "global/reboot";
@import "global/utils";
@import "global/container";

// Blocks
// ---------------------------------

@import "blocks/header";
@import "blocks/main-nav";
@import "blocks/info-bar";
@import "blocks/footer";
@import "blocks/btn";
@import "blocks/title";
@import "blocks/intro";
@import "blocks/custom-select";
@import "blocks/custom-input";
@import "blocks/custom-textarea";
@import "blocks/custom-checkbox";
@import "blocks/custom-radio";
@import "blocks/widget";
@import "blocks/type-of-service";
@import "blocks/services";
@import "blocks/service-card";
@import "blocks/feedback";
@import "blocks/articles";
@import "blocks/article-card";
@import "blocks/single-article";
@import "blocks/page-not-found";
@import "blocks/contacts";
@import "blocks/data-accordion";
@import "blocks/business-service";
@import "blocks/business-card";
@import "blocks/agreement";
@import "blocks/business-instruments";
@import "blocks/features";
@import "blocks/equipment";
@import "blocks/equipment-card";
@import "blocks/product";
@import "blocks/product-banner";
@import "blocks/product-description";
@import "blocks/product-features";
@import "blocks/tariff-constructor";
@import "blocks/tariff-constructor-total";
@import "blocks/price";
@import "blocks/available-tariffs";
@import "blocks/custom-tariff";
@import "blocks/advantages";
@import "blocks/tariff-advantages";
@import "blocks/go-to-personal-account";
@import "blocks/tariff-card";
@import "blocks/banner";
@import "blocks/available-equipment";
@import "blocks/about";
@import "blocks/steps";
@import "blocks/digital-television";
@import "blocks/package-of-service";
@import "blocks/channel-list";
@import "blocks/available-service";
@import "blocks/camera-card";
@import "blocks/order-form";
@import "blocks/camera-records";
@import "blocks/map";
@import "blocks/available-cameras";
@import "blocks/monitoring";
@import "blocks/questions";
@import "blocks/modal";
@import "blocks/request";
