// Colors
// ---------------------------------

// Default

$color-default-black:           #000000;
$color-default-white:           #ffffff;
$color-transparent:             rgba(255, 255, 255, 0);

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-gainsboro:               #e1e1e1;
$color-whisper:                 #e7e7e7;
$color-whisper-2:               #ededed;
$color-whisper-3:               #e6e6e6;
$color-grey:                    #878787;
$color-nero:                    #1f1f1f;
$color-nero-2:                  #212121;
$color-red-orange:              #ee2523;
$color-flamingo:                #f25655;
$color-free-speech-red:         #df1311;
$color-silver:                  #c5c5c5;
$color-silver-2:                #c2c2c2;
$color-white-smoke:             #f8f8f8;
$color-white-smoke-2:           #f5f5f5;
$color-white-smoke-3:           #efefef;
$color-light-grey:              #d5d5d5;
$color-nobel:                   #9c9c9c;
$color-quartz:                  #dbd2ff;
$color-onahau:                  #c8ecf8;
$color-bastille:                #2c2c2e;
$color-lavender-grey:           #d1d1d6;
$color-very-light-grey:         #c9c9c9;

// Gradient

$black-to-right: linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 75%);

// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default: 16px;

$ff-inter: "Inter", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default:                        ease;
$tf-ease-out:                       ease-out;
$tf-ease-in:                        ease-in;
$tf-ease-in-out:                    ease-in-out;
$trans-default:                     0.3s $tf-default;
$trans-ease-out:                    0.3s $tf-ease-out;
$trans-ease-in:                     0.3s $tf-ease-in;
$trans-ease-in-out:                 0.3s $tf-ease-in-out;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal: 0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600:                         0.6s $tf-default;
$trans-600-ease-out:                0.6s $tf-ease-out;
$trans-600-ease-in-out:             0.6s $tf-ease-in-out;
$trans-400-ease-in-out:             0.4s $tf-ease-in-out;

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-375:                            375px;
$vp-425:                            425px;
$vp-480:                            480px;
$vp-768:                            768px;
$vp-1024:                           1024px;
$vp-1200:                           1200px;
$vp-1280:                           1280px;
$vp-1600:                           1600px;
$vp-1440:                           1440px;
$vp-1920:                           1920px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
