//- Base

include ./base/header
include ./base/footer
include ./base/modal

//- Utils

include ./utils/icon
include ./utils/img
include ./utils/picture
include ./utils/sprite

//- Modals

//- Blocks

include ./blocks/intro
include ./blocks/info-bar
include ./blocks/widget
include ./blocks/type-of-service
include ./blocks/services
include ./blocks/service-card
include ./blocks/feedback
include ./blocks/articles
include ./blocks/article-card
include ./blocks/single-article
include ./blocks/page-not-found
include ./blocks/contacts
include ./blocks/business-service
include ./blocks/business-card
include ./blocks/business-instruments
include ./blocks/agreement
include ./blocks/features
include ./blocks/equipment
include ./blocks/equipment-card
include ./blocks/product
include ./blocks/product-banner
include ./blocks/product-description
include ./blocks/product-features
include ./blocks/tariff-constructor
include ./blocks/tariff-constructor-total
include ./blocks/price
include ./blocks/available-tariffs
include ./blocks/custom-tariff
include ./blocks/advantages
include ./blocks/tariff-advantages
include ./blocks/go-to-personal-account
include ./blocks/tariff-card
include ./blocks/banner
include ./blocks/available-equipment
include ./blocks/about
include ./blocks/steps
include ./blocks/digital-television
include ./blocks/package-of-service
include ./blocks/channel-list
include ./blocks/available-service
include ./blocks/camera-card
include ./blocks/order-form
include ./blocks/camera-records
include ./blocks/map
include ./blocks/available-cameras
include ./blocks/monitoring
include ./blocks/questions
include ./blocks/request
include ./blocks/success

//- Mixins

include ./mixins/btn
include ./mixins/custom-select
include ./mixins/custom-input
include ./mixins/custom-textarea
include ./mixins/custom-checkbox
include ./mixins/custom-radio
